.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin: 40px;
}

.error {
    color: red;
    margin-top: 20px;
}

.succes {
    color: green;
    margin-top: 20px;
}